<form [formGroup]="timeForm">
    <div formArrayName="time_interval">
        <mat-card class="mb-2" *ngFor="let time of timeInterval.controls; index as i" [formGroupName]="i">
            <div class="flex flex-row w-full">
                <div class="text-xl flex-1">#{{i+1}}</div>
                <div class="text-right flex-1">
                    <mat-icon color="warn" (click)="removeTime(i)">delete</mat-icon>
                </div>
            </div>
            <div>
                <mat-form-field class="w-full" [@zoomIn]="'*'">
                    <mat-label>{{'time_start' | transloco}}</mat-label>
                    <input matInput type="time" formControlName="time_start" min="00:00" max="24:00">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" [@zoomIn]="'*'">
                    <mat-label>{{'time_end' | transloco}}</mat-label>
                    <input matInput type="time" formControlName="time_end" min="00:00" max="24:00">
                </mat-form-field>
            </div>
            <div formArrayName="days">
                <ng-container *ngFor="let name of time.get('days').controls; let i = index">
                    <mat-form-field class="w-full" [@zoomIn]="'*'">
                        <mat-label>{{'days' | transloco}}</mat-label>
                        <mat-select multiple [formControlName]="i" placeholder="{{'days' | transloco}}">
                            <mat-option *ngFor="let item of daysList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </mat-card>
    </div>
    <div class="p-3">
        <button mat-raised-button color="secondary" (click)="addTime()">{{'add' | transloco}}</button>
    </div>
    <input class="hidden" type="submit" #form2>
</form>